<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleApp1.Properties.Settings.DB_A5A76B_RadoTecsupConnectionString"
            connectionString="Data Source=sql5047.site4now.net;Initial Catalog=DB_A5A76B_RadoTecsup;User ID=DB_A5A76B_RadoTecsup_admin;pwd=pierodead1998"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>